.toc {
  margin-top: 6%;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 20px;
}
.toc-heading {
  font-size: 0.9em;
  font-weight: 500;
  color: #333;
}

.toc nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc nav ul li {
  border-left: 2px solid #e0e0e0;
  padding: 0.5rem 1rem;
  font-size: 0.95em;
  color: #4e4e4e;
  font-weight: 400;
}

.toc nav ul li:hover {
  color: #8a97a9;
  border-left: 2px solid #8a97a9;
}

.toc nav ul a {
  text-decoration: none;
}

.toc nav ul li.active {
  color: #006bd6;

  border-left: 2px solid #006bd6;
}
