.tooltip-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
  gap: 21px; /* Add space between grid items */
}

.tooltip-grid > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 90px;
}
