body {
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* background-color: rgb(237, 237, 246); */
  background-color: #f5f5f5;
}
